<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RootFolder" value="D:\S K B\AlFascino\Files\"/>

		<add key="Flipkart.SettlementAmount" value="Column2"/>
		<add key="Flipkart.OrderId" value="Column6"/>
		<add key="Flipkart.OrderItemId" value="Column7"/>
		<add key="Flipkart.SaleAmount" value="Column8"/>
		<add key="Flipkart.TotalOfferAmount" value="Column9"/>
		<add key="Flipkart.Taxes" value="Column13"/>
		<add key="Flipkart.SellerSKU" value="Column56"/>
		<add key="Flipkart.Quantity" value="Column57"/>
		<add key="Flipkart.ReturnType" value="Column60"/>

	</appSettings>
</configuration>